<div class="btn-group">
    <button type="button" class="btn btn-primary">{{ 'Subscribe' | trans }}</button>
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
        <span class="sr-only">{{ 'Toggle dropdown' | trans }}</span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li><a href="{{ url('subscription/subscribe', {'object': object}) }}">{{ 'Subscribe via  notifications' | trans }}</a></li>
        <li><a href="#">{{ 'Subscribe via notifications and emails' | trans }}</a></li>
    </ul>
</div>