<div class="btn-group">
    <button type="button" class="btn btn-primary"><span
                class="glyphicon glyphicon-eye-open"></span> {{ 'Subscribe' | trans }}</button>
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
        <span class="sr-only">{{ 'Toggle dropdown' | trans }}</span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li><a href="{{ url('subscription/subscribe', {'object': object, 'email': 0}) }}"><span
                        class="glyphicon glyphicon-volume-down"></span> {{ 'Notifications' | trans }}</a></li>
        <li><a href="{{ url('subscription/subscribe', {'object': object, 'email': 1}) }}"><span
                        class="glyphicon glyphicon-volume-up"></span> {{ 'Notifications and emails' | trans }}</a></li>
    </ul>
</div>