{% set pages = entity.getChildren('link', 'course-page') %}
<article>
	<!-- Overview -->
    <section>
        <div class="sortable" data-action="{{ url('entity/link/order', {'type': 'link', 'entity': entity.getId()}) }}" data-depth="1" data-active="false">
            <ol class="sortable-list">
                {% for page in pages if page.hasCurrentRevision() and not(page.isTrashed()) %}
                    <li class="sortable-item" data-id="{{ page.getId() }}">
                        <span class="sortable-handle"></span>
                        <div class="sortable-item-inner">
                            <span class="glyphicon glyphicon-align-left"></span>
                            <a href="#{{ page.getId() }}">
                                {{ page.getCurrentRevision().get('title') }}
                            </a>
                        </div>
                    </li>
                {% endfor %}
            </ol>            
            <div class="row">
                <div class="col-md-8"></div>
                <div class="col-md-4">
                    <div class="sortable-actions btn-group pull-right">
                        {% include 'entity/view/partials/sortable-actions' %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- Detailview -->
    <section>
        {% for page in pages if page.hasCurrentRevision() and not(page.isTrashed()) %}
            {% set revision = page.getCurrentRevision() %}
            <article class="panel panel-default">
                <header id="{{ page.getId() }}" class="panel-heading">
                    <div class="row">
                        <div class="col-md-6"><h4>{{ revision.get('title') }}</h4></div>
                        <div class="col-md-6">
                            {% include 'entity/view/partials/actions/small' with {'entity': page} only %}
                        </div>
                    </div>
                </header>
                <section class="panel-body">
                    {{ markdown().toHtml(revision.get('content')) | raw }}
                </section>
            </article>
        {% endfor %}
    </section>
    <hr>
    {% include 'entity/view/partials/license' %}
    <hr>
    
    <!-- Discussions -->
    <section class="hidden" id="discussion-{{ entity.getId() }}">
        {{ discussion(entity).render() }}
    </section>
</article>