<article>
    <section class="row">
        <div class="col-md-8">
            {{ markdown().toHtml(entity.getCurrentRevision().get('content')) }}
        </div>
        <div class="col-md-4">
            <ul class="nav nav-pills pull-right">
                <li data-toggle="tooltip" data-placement="bottom" title="{{ translate('I want to comment this') }}">
                    <a data-toggle="collapse" data-parent="#discussions-{{ entity.getId() }}" href="#discussions-{{ entity.getId() }}">
                        <span class="glyphicon glyphicon-comment"></span>
                    </a>
                </li>
                {% include 'entity/view/partials/actions/small-essential' %}
            </ul>
        </div>
    </section>
    <div class="collapse" id="discussions-{{ entity.getId() }}">
    </div>
    {% set index = 0 %}
    {% for child in entity.getChildren('link', 'grouped-text-exercise') if not child.isTrashed() and child.hasCurrentRevision() %}
        <section class="row">
            <div class="col-xs-1">
                <em>{{ toAlpha(index) }}) </em>
                {% set index = index + 1 %}
            </div>
            <div class="col-xs-11">
                {% include 'entity/view/default' with {'entity': child, 'parent': entity} only %}
            </div>
        </section>
    {% endfor %}
</article>