{% set revision = entity.getCurrentRevision() %}
<article class="panel-group">
    {% if(revision.get('hint')) %}
        <section class="collapse panel panel-default" id="hint-{{ entity.getId() }}">
            <div class="row panel-heading">
                <h6 class="panel-title">
                    <span class="glyphicon glyphicon-question-sign"></span>
                    {{ translate('Hint') }}
                </h6>
            </div>
            <div class="panel-body">
                {{ markdown().toHtml(revision.get('hint')) | raw }}
            </div>
            <div class="panel-footer clearfix">
                {% include 'entity/view/partials/actions/small' %}
            </div>
        </section>
    {% endif %}
    <section class="collapse panel panel-default" id="solution-{{ entity.getId() }}">
        <div class="row panel-heading">
            <h6 class="panel-title">
                <span class="glyphicon glyphicon-question-sign"></span>
                {{ translate('Solution') }}
            </h6>
        </div>
        <div class="panel-body">
            {{ markdown().toHtml(revision.get('content')) | raw }}
        </div>
        <div class="panel-footer clearfix">
            {% include 'entity/view/partials/actions/small' %}
        </div>
    </section>
</article>