{% set revision = entity.getCurrentRevision() %}
{% set solution = entity.getChildren('link', 'text-solution').first() %}
<article>
    <section class="row">
        <div class="col-sm-7">
            {{ markdown().toHtml(revision.get('content')) | raw }}
        </div>
        <div class="col-sm-5">
            <ul class="nav nav-pills pull-right">
                {% if(solution) %}
                    <li data-toggle="tooltip" data-placement="bottom" title="{{ translate('I want to see the solution') }}">
                        <a data-toggle="collapse" data-parent="#solutions-{{ solution.getId() }}" href="#solution-{{ solution.getId() }}">
                            <span class="glyphicon glyphicon-ok-circle"></span>
                        </a>
                    </li>
                    {% if solution.hasCurrentRevision() and solution.getCurrentRevision().get('hint') %}
                        <li data-toggle="tooltip" data-placement="bottom" title="{{ translate('I need a hint') }}">
                            <a data-toggle="collapse" data-parent="#solutions-{{ solution.getId() }}" href="#hint-{{ solution.getId() }}">
                                <span class="glyphicon glyphicon-question-sign"></span>
                            </a>
                        </li>
                    {% endif %}
                {% endif %}
                <li data-toggle="tooltip" data-placement="bottom" title="{{ translate('I want to comment this') }}">
                    <a data-toggle="collapse" data-parent="#discussions-{{ entity.getId() }}" href="#discussions-{{ entity.getId() }}">
                        <span class="glyphicon glyphicon-comment"></span>
                    </a>
                </li>
                {% include 'entity/view/partials/actions/small-essential' %}
            </ul>
        </div>
    </section>
    <div class="collapse" id="discussions-{{ entity.getId() }}">
        {{ discussion(entity).render() }}
    </div>
    {% if solution %}
        {% include 'entity/view/default' with {'entity': solution} only %}
    {% endif %}
</article>