{% set revision = entity.getCurrentRevision() %}
<article class="panel-group" itemscope itemtype="http://schema.org/ScholarlyArticle">
    {% if(revision and revision.get('hint')) %}
        <section class="collapse panel panel-default" id="hint-{{ entity.getId() }}">
            <div class="panel-body">
                <strong>
                    <ul class="nav nav-pills">
                        {% include 'entity/view/partials/actions/small-essential' %}
                    </ul>
                    <span class="glyphicon glyphicon-question-sign"></span>
                    {{ translate('Hint') }}
                </strong>
            </div>
            <div class="list-group">
                <div class="list-group-item">
                    {{ markdown().toHtml(revision.get('hint')) | raw }}
                </div>
            </div>
        </section>
    {% endif %}
    <section class="collapse panel panel-default" id="solution-{{ entity.getId() }}">
        <div class="panel-body">
            <strong>
                <ul class="nav nav-pills pull-right">
                    {% include 'entity/view/partials/actions/small-essential' %}
                </ul>
                <span class="glyphicon glyphicon-ok-circle"></span>
                {{ translate('Solution') }}
            </strong>
        </div>
        <div class="list-group">
            <div class="list-group-item" itemprop="articleBody">
                {% if revision %}
                    {{ markdown().toHtml(revision.get('content')) | raw }}
                {% elseif not entity.getHead() %}
                    {{ translate('A solution has been created but no content has been added yet or it is pending approval.') }}
                {% endif %}
            </div>
        </div>
        <div class="list-group">
            <div class="list-group-item">
                {% include 'entity/view/partials/license' %}
            </div>
        </div>
        <div class="list-group">
            <div class="list-group-item">
                {{ discussion(entity).render() }}
            </div>
        </div>
    </section>
</article>