<div class="pull-right btn-group">
    <div class="btn-group group-dropdown">
        <a class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" href="#">
            <span class="glyphicon glyphicon-plus"></span> <span class="caret"></span> </a>
        <ul class="dropdown-menu">
            {% for taxonomy in taxonomy().getAllowedChildren(term) %}
                <li>
                    <a href="{{ url('taxonomy/term/create', {'taxonomy':taxonomy.getId(), 'parent':term.getId()}) }}">
                        {{ taxonomy.getName() }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <a href="{{ url('taxonomy/term/action', {'action':'update','id':term.getId()}) }}" class="btn btn-default btn-xs">
        <span class="glyphicon glyphicon-pencil"></span> </a> <a class="btn btn-default btn-xs"
                                                                 href="{{ url('event/history', {'id':term.getId()}) }}">
        <span class="glyphicon glyphicon-hdd"></span></a>
    {% if term.isTrashed() %}
        <a href="{{ url('uuid/restore', {'id':term.getId()}) }}" class="btn btn-warning btn-xs">
            <span class="glyphicon glyphicon-refresh"></span> </a>
    {% else %}
        <a href="{{ url('uuid/trash', {'id':term.getId()}) }}"
           class="btn btn-default btn-xs"> <span class="glyphicon glyphicon-trash"></span> </a>
    {% endif %}
</div>