{% if revision %}
    <article itemscope itemtype="http://schema.org/Article">
        <header>
            {% include 'page/partials/head' %}
        </header>
        <section itemprop="articleBody">
            {{ markdown().toHtml(revision.getContent()) }}
        </section>
    </article>
{% endif %}
<hr>
<section class="row">
    <div class="col-xs-10">
        <p>{{ page.getLicense().getTitle() }}</p>
        <p><a href="{{ url('license/detail', {'id': page.getLicense().getId()}) }}">{% trans %} What is that? {% endtrans %}</a></p>
    </div>
    <div class="col-xs-2">
        <a class="pull-right" href="{{ page.getLicense().getUrl() }}" rel="license"><img alt="{{ page.getLicense().getTitle() }}" src="{{ page.getLicense().getIconHref() }}"></a>
    </div>
</section>
{% if page.getForum() %}
    <hr>
    {{ discussion(page).setForum(page.getForum()).render() }}
{% endif %}