{% set rows = 4 %}
{% set col = 12 / 4 %}
{{ pageHeader('Manage related links').setSubtitle(normalize().toTitle(container.getObject())).setBackLink(normalize().toUrl(container.getObject())).append(contexter().renderButton('right')) }}
<div class="row">
    <div class="col-md-{{ col }}">
        <strong>{% trans %} Title {% endtrans %}</strong>
    </div>
    <div class="col-md-{{ col }}">
        <strong>{% trans %} Url {% endtrans %}</strong>
    </div>
    <div class="col-md-{{ col }}">
        <strong>{% trans %} Type {% endtrans %}</strong>
    </div>
    <div class="col-md-{{ col }}">
        <strong>{% trans %} Actions {% endtrans %}</strong>
    </div>
</div>
<hr>
<div class="clearfix sortable" data-action="{{ url('related-content/order') }}" data-depth="1" data-active="false">
    <ol class="sortable-list">
        {% for related in aggregated %}
            <li class="sortable-item" data-id="{{ related.getId() }}">
                <span class="sortable-handle"></span>
                <div class="sortable-item-inner row">
                    <div class="col-md-{{ col }}">
                        {{ related.getTitle()  | trans }}
                    </div>
                    <div class="col-md-{{ col }}">
                        {% if related.getUrl() %}
                            <a href="{{ related.getUrl() }}">{{ related.getUrl() }}</a>
                        {% endif %}
                    </div>
                    <div class="col-md-{{ col }}">
                        {{ related.getType()  | trans }}
                    </div>
                    {% if isGranted('related.content.purge', container) %}
                        <div class="col-md-{{ col }}">
                            <a href="{{ url('related-content/remove', {'id': related.getId()}) }}" class="btn btn-xs btn-warning">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        </div>
                    {% endif %}
                </div>
            </li>
        {% endfor %}
    </ol>
    <div class="row">
        <div class="col-xs-6">
            {% if isGranted('related.content.update', container) %}
                <div class="sortable-actions btn-group">
            <button class="btn btn-sm btn-default sortable-activate-action">
                <span class="glyphicon glyphicon-sort"></span>
            </button>
            <button class="btn btn-sm btn-success sortable-save-action is-hidden">
                <span class="glyphicon glyphicon-floppy-save"></span>
            </button>
            <button class="btn btn-sm btn-default sortable-abort-action is-hidden">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
        </div>
            {% endif %}
        </div>
        <div class="col-xs-6">
            {% if isGranted('related.content.create', container) %}
                <div class="btn-group">
                    <a class="btn btn-success btn-sm" href="{{ url('related-content/add-category', {'id': container.getId()}) }}">{% trans %} Add category {% endtrans %}</a>
                    <a class="btn btn-success btn-sm" href="{{ url('related-content/add-internal', {'id': container.getId()}) }}">{% trans %} Add internal {% endtrans %}</a>
                    <a class="btn btn-success btn-sm" href="{{ url('related-content/add-external', {'id': container.getId()}) }}">{% trans %} Add external {% endtrans %}</a>
                </div>
            {% endif %}
        </div>
    </div>
</div>