{{ pageHeader(normalize().toTitle(entity)).setSubtitle('Compare versions').append(contexter().renderButton()).setBacklink(url('entity/repository/history', {'entity': entity.getId()})).render() }}
<article>
    {% if revision is not sameas(currentRevision) %}
        <div class="revision panel-group">
            {% for field in revision.getFields() %}
                <div class="panel panel-default">
                    <div class="panel-heading">{{ translate(field.getName()) }}</div>
                    <div class="panel-body">
                        {% set oldField = currentRevision.get(field.getName()) %}
                        {% if oldField %}
                            {{ diff().markdown(oldField, field.getValue()) }}
                        {% else %}
                            {{ markdown().toHtml(field.getValue()) }}
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
        <footer>
            <p>
                <div class="btn-group pull-right">
                    {% if not revision.isTrashed() and isGranted('entity.revision.checkout', revision) %}
                        <a class="btn btn-success btn-sm" href="{{ url('entity/repository/checkout', {'entity': entity.getId(), 'revision': revision.getId()}) }}">
                            <span class="glyphicon glyphicon-ok"></span>
                        </a>
                    {% endif %}
                    {% if not revision.isTrashed() and isGranted('entity.revision.trash', revision) %}
                        <a class="btn btn-danger btn-sm" href="{{ url('entity/repository/reject', {'entity': entity.getId(), 'revision': revision.getId()}) }}">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    {% elseif revision.isTrashed() and isGranted('entity.revision.restore', revision) %}
                        <a class="btn btn-success btn-sm" href="{{ url('uuid/restore', {'id': revision.getId()}) }}">
                            <span class="glyphicon glyphicon-refresh"></span>
                        </a>
                    {% endif  %}
                </div>
            </p>
        </footer>
    {% else %}
        {% include 'entity/repository/revision' %}
    {% endif %}
</article>